.receita {
    background: #fdfdfd; /*para termos um fundo quase branco*/
    display: flex;  /*para que esse elemento se comporte como uma flex box*/
    flex-direction: column; /*para que os elementos se alinhem em colunas*/
    margin-bottom: 5rem; /*para termos um espaçamento inferior de 5rem*/
    
}

@media screen and (min-width: 0) {
    .receita {
        margin-right: 1rem;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .receita {
        margin-right: 2.5rem;
        width: calc(33% - 2.5rem)
    }
}

@media screen and (min-width: 992px) {
    .receita {
        margin-right: 5rem; /*para termos um espaçamento de 5rem à direita*/
        width: calc(25% - 5rem);
    }
}